aiohttp==3.9.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==22.1.0
certifi==2023.7.22
charset-normalizer==2.1.1
dnspython==2.2.1
frozenlist==1.3.3
idna==3.4
multidict==6.0.3
mypy==0.991
mypy-extensions==0.4.3
py-cord==2.3.2
pymata-aio==2.35
pymongo==4.3.3
pyserial==3.5
requests==2.31.0
tomli==2.0.1
typing_extensions==4.4.0
urllib3==1.26.13
websockets==10.4
yarl==1.8.2
